body {
    background-image: url(src/dark-bg.png);
    font-family: "Gill Sans", sans-serif;
    font-size: 30px;
}

button {
    background-color: rgb(31, 31, 31);
    border: 1px solid white;
    border-radius: 5px;
    color: blanchedalmond;
    padding: 10px;

}

button.option {
    margin: 5px 0;
    
}

div#description {
    color: wheat;
    font-size: 25px;
}

.game-container {
    margin: 0 auto;
    background-color: rgb(48, 48, 48);
    width: 500px;
    box-shadow: 5px 5px 8px black;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    height: 800px;
    border: 1px solid white;
}

div#country {
    text-align: center;
    color: wheat;
    margin: 5px;
}

div#question-number-container {
    text-align: center;
    color: wheat;
}

div#record-container {
    color: wheat;
    text-align: center;
}

button#start {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

ol#olgame {
    list-style-type: none;
}

button.option {
    display: block;
    width: 250px;
    height: 60px;
    font-size: 25px;
    margin: 20px auto;
}